body {
    background: #CECECE
}

form textarea {
    max-width: 100%;
}

a:link {
    color: #000000;
    }      /* unvisited link */
a:visited {
    color: #878787;
    }  /* visited link */
a:hover {
    color: #ffc704;
    }  /* mouse over link */

a:active {
    color: #ffc704;

}  /* selected link */

article {
    padding: 5px;
    overflow: auto;
    -moz-box-shadow: 15px 15px 10px #444;
    -webkit-box-shadow: 15px 15px 10px #444;
    box-shadow: 15px 15px 10px #444;
}

.Post {
    overflow: hidden;
    background: grey;
    margin: 0 0 15 0;
    -moz-box-shadow: 10px 10px 5px #444;
    -webkit-box-shadow: 10px 10px 5px #444;
    box-shadow: 10px 10px 5px #444;
}

.wrapTitleDate {
    padding: 2 5;
    overflow: hidden;
}

.PostTitle {
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.PostDate {
    text-align: right;
    font-style: italic;
}

.wrapPostUserContent {
    overflow: hidden;
}

.PostUser {
    background: lightgray;
    float: left;
    padding: 0 10;
    margin-right: 5;
    width: 75px;
    height: 200px;
}

.PostContent {
    word-wrap: break-word;
    padding: 5 5;
    color: lightgray;
}

.wrapThreadTitle {
    margin-bottom: 20px;
    padding: 5px;
    -moz-box-shadow: 15px 15px 10px #444;
    -webkit-box-shadow: 15px 15px 10px #444;
    box-shadow: 15px 15px 10px #444;
}

.ThreadName {
    float: left;
    font-size: 22px;
    font-weight: bold;
}

.ThreadDate {
    text-align: right;
    font-style: italic;
    float: right;
}
.ThreadDescr {
    clear: both;
    font-style: italic;
}

.error {
    padding: 5px;
     text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 10px 10px 5px #444;
    -webkit-box-shadow:  10px 5px #444;
    box-shadow: 10px 10px 10px 5px #444;
}

.userWrap {
   text-align:left;
   margin-left: auto;
    margin-right: auto;
     width: 50%;
    padding: 5px;
   background-color: #808080;
   -moz-box-shadow: 10px 10px 5px #444;
    -webkit-box-shadow:  10px 5px #444;
    box-shadow: 10px 10px 10px 5px #444;
}

.userWrap label {
     width: 50%;
     text-align: center;
     display:inline-block;
}

.userWrap input {
    width: 50%;
}

.wrapContent {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wrapThreadOverview {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.deleteForm {
    float: right;
}

.deleteForm input {
    background: url("cross.png");
    background-size: 100%;
    width: 12px;
    height: 12px;
    border: none;
    margin-left: 3px;
    margin-top: 3px;
}

.colorChooser {
    float: right;
    overflow: hidden;
    width: 50px;
    height: 50px;
    transition: width 2s, height 1s;
    position: absolute;
    overflow: hidden;
    -webkit-transition: width 2s, height 1s; /* Safari */
}

.colorChooser:hover {
    width: 250px;
    height: 500px;
}

.colorChooser:hover img {
    opacity: 0;
    transition: opacity 2s;
}

.colorChooser img {
    opacity: 1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

.colorChooser:hover form {
    opacity: 1;
    transition: opacity 2s ease-in;
}

.colorChooser form {
    opacity: 0;
    transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out; /* Safari */
}

.greyOrangeGreyFlowBackground {
    background: #808080; /* Old browsers */
    background: -moz-linear-gradient(left, #808080 0%, #ff7a00 51%, #808080 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#808080), color-stop(51%,#ff7a00), color-stop(100%,#808080)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #808080 0%,#ff7a00 51%,#808080 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #808080 0%,#ff7a00 51%,#808080 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #808080 0%,#ff7a00 51%,#808080 100%); /* IE10+ */
    background: linear-gradient(to right, #808080 0%,#ff7a00 51%,#808080 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#808080',GradientType=1 ); /* IE6-9 */
}

.topBottFlowBackground {
    background: #ff7a00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff7a00 1%, #808080 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff7a00), color-stop(100%,#808080)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff7a00 1%,#808080 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff7a00 1%,#808080 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff7a00 1%,#808080 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff7a00 1%,#808080 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7a00', endColorstr='#808080',GradientType=0 ); /* IE6-9 */
}

.leftRightFlowBackground {
    background: #ff7a00; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff7a00 50%, #808080 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,#ff7a00), color-stop(100%,#808080)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff7a00 50%,#808080 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff7a00 50%,#808080 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff7a00 50%,#808080 100%); /* IE10+ */
    background: linear-gradient(to right,  #ff7a00 50%,#808080 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7a00', endColorstr='#808080',GradientType=1 ); /* IE6-9 */
}
